@{
    string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    string action = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
    bool connected = Session["ConnectedUser"] != null;
    var connectedUser = connected ? (PhotosManager.Models.User)Session["ConnectedUser"] : null;
    bool admin = connected ? connectedUser.Admin : false;

    string sortType = ViewBag.SortType as string ?? "dates";
    bool sortDescending = ViewBag.SortDescending as bool? ?? true;

    string nextSortType = sortType switch
    {
        "dates" => "likes",
        "likes" => "comments",
        "comments" => "dates",
        _ => "dates"
    };

    string sortIcon = sortType switch
    {
        "dates" => "fa-calendar",
        "likes" => "fa-thumbs-up",
        "comments" => "fa-comment",
        "ownerDontLike" => "fa-fw",
        "ownerLikes" => "fa-fw",
        "ownerComments" => "fa-fw",
        "ownerNoComment" => "fa-fw",
        _ => "fa-calendar"
    };

    string GetSortCheckIcon(string current)
    {
        return sortType == current ? "fa-check" : "fa-fw";
    }
    string sortDirectionIcon = sortDescending ? "fa-arrow-circle-up" : "fa-arrow-circle-down";
    
}
<div id="header">
    <a href="/Photos/List">
        <img src="/Content/UI-Images/PhotoCloudLogo.png" class="appLogo" alt="" title="Gestionnaire de photos">
    </a>

    @switch (action)
    {
        case "list":
            <div class="actionTitle">Photos </div>
            <div class="menu-icon-layout">

                <a href="/Photos/List?sortType=@nextSortType"
                   class="cmdIcon fa @sortIcon"
                   title="Tri par @sortType">
                </a>

                <a id="toggleSort"
                   href="/Photos/ToggleSortDirection"
                   class="cmdIcon fa @sortDirectionIcon sort-toggle"
                   title="Tri @(ViewBag.SortDescending ? "descendant" : "ascendant")">
                </a>
                @if (connected)
                {
                    <a href="/@controller/Create" class="cmdIcon fa fa-plus" title="Ajouter une photo"></a>
                }
                <a href="/Photos/ToggleSearch" class="cmdIcon fa fa-search" title="Afficher/Masquer la recherche"></a>
                <div class="dropdown">
                    <div data-bs-toggle="dropdown" aria-expanded="false">
                        <i id="notificationsIcon" class="cmdIcon fa fa-regular fa-bell"></i>
                    </div>
                    <div id="notificationsPanel" class="dropdown-menu noselect"></div>
                </div>
                @if (connected)
                {
                    <a href="/Accounts/EditProfil" class="noDecoration">
                        @Helper.Image(connectedUser.Avatar, "UserHeaderAvatar")
                    </a>
                }
                <div class="dropdown">
                    <div data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="cmdIcon fa fa-ellipsis-vertical"></i>
                    </div>
                    <div class="dropdown-menu noselect">
                        @if (connected)
                        {
                            <div class="dropdown-item">
                                <a href="/Accounts/EditProfil" class="noDecoration">
                                    @Helper.Image(connectedUser.Avatar, "xsmallAvatar ") Profil...
                                </a>
                            </div>
                            if (admin)
                            {
                                <div class="dropdown-item">
                                    <a href="/Accounts/ManageUsers" class="noDecoration">
                                        <i class="menuIcon fa fa-users"></i> Gestion des usagers...
                                    </a>
                                </div>
                                <div class="dropdown-item">
                                    <a href="/Accounts/LoginsJournal" class="noDecoration">
                                        <i class="menuIcon fa fa-calendar"></i> Historique de connexions...
                                    </a>
                                </div>
                            }
                            <div class="dropdown-item">
                                <a href="/Accounts/Logout" class="noDecoration">
                                    <i class="menuIcon fa fa-sign-out"></i> Déconnexion...
                                </a>
                            </div>

                            <div class="dropdown-divider"></div>

                            <a id="toggleSortDirection" href="/Photos/ToggleSortDirection" class="dropdown-item sort-toggle">
                                <i class="menuIcon fa fa-image mx-2"></i> Liste des photos [tri @(ViewBag.SortDescending ? "descendant" : "ascendant")]
                            </a>
                            <a href="/Photos/List?sortType=dates" class="dropdown-item">
                                <i class="menuIcon fa @GetSortCheckIcon("dates") mx-2"></i> <i class="menuIcon fa fa-calendar mx-2"></i>  par date de création
                            </a>
                            <a href="/Photos/List?sortType=likes" class="dropdown-item">
                                <i class="menuIcon fa @GetSortCheckIcon("likes") mx-2"></i><i class="menuIcon fa fa-thumbs-up mx-2"></i> par popularité
                            </a>

                            <a href="/Photos/List?sortType=comments" class="dropdown-item">
                                <i class="menuIcon fa @GetSortCheckIcon("comments") mx-2"></i><i class="menuIcon fa fa-comment mx-2"></i> par nombre de commentaires
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="/Photos/List?sortType=ownerDontLike" class="dropdown-item">
                                <i class='menuIcon fa @GetSortCheckIcon("ownerDontLike") mx-2'></i> <i class="menuIcon fa-regular fa-thumbs-up mx-2"></i> que je n'aime pas
                            </a>
                            <a href="/Photos/List?sortType=ownerLikes" class="dropdown-item">
                                <i class='menuIcon fa @GetSortCheckIcon("ownerLikes") mx-2'></i> <i class="menuIcon fa fa-thumbs-up mx-2"></i> que j'aime
                            </a>
                            <a href="/Photos/List?sortType=ownerNoComment" class="dropdown-item">
                                <i class='menuIcon fa @GetSortCheckIcon("ownerNoComment") mx-2'></i> <i class="menuIcon fa-regular fa-comment mx-2"></i> que je n'ai pas commenté
                            </a>
                            <a href="/Photos/List?sortType=ownerComments" class="dropdown-item">
                                <i class='menuIcon fa @GetSortCheckIcon("ownerComments") mx-2'></i> <i class="menuIcon fa fa-comment mx-2"></i> que j'ai commenté
                            </a>
                        }
                        <div class="dropdown-divider"></div>

                        <div class="dropdown-item">
                            <a href="/Home/About" class="noDecoration">
                                <i class="menuIcon fa fa-info-circle"></i> À propos...
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            break;
        case "details":
            <div class="actionTitle">Détails </div>
            <div class="menu-icon-layout">
                @if (connected && (Session["IsOwner"]!=null?(bool)Session["IsOwner"]:false))
                {
                    <a href="/@controller/Edit" class="cmdIcon fa fa-edit" title="Modifier"></a>
                    <i class="cmdIcon fa fa-trash"
                       title="Effacer"
                       onclick="bootbox.confirm('Effacer?', function(result){ if (result) window.location = '/@controller/Delete'; })">
                    </i>

                }
                <a href="/Photos/List" class="cmdIcon fa fa-times" title="Annuler"></a>
            </div>
            break;
        case "create":
            <div class="actionTitle">Ajout </div>
            <div class="menu-icon-layout">
                <i class="cmdIcon submitCmd fa fa-check" title="Soumettre"></i>
                <a href="/Photos/List" class="cmdIcon fa fa-times" title="Annuler"></a>
            </div>
            break;
        case "edit":
            <div class="actionTitle">Modification </div>
            <div class="menu-icon-layout">
                <i class="cmdIcon submitCmd fa fa-check" title="Soumettre"></i>
                <a href="/@controller/details/@Session["id"]" class="cmdIcon fa fa-times" title="Annuler"></a>
            </div>
            break;
        case "about":
            <div class="actionTitle">À propos </div>
            <div class="menu-icon-layout">
                <i onclick="history.back()" class="cmdIcon fa fa-times" title="Fermer"></i>
            </div>
            break;
        case "login":
            <div class="actionTitle">@ViewBag.Title</div>
            break;
        case "subscribe":
            <div class="actionTitle">@ViewBag.Title </div>
            <div class="menu-icon-layout">
                <i class="cmdIcon submitCmd fa fa-check" title="Soumettre"></i>
                <a href="/Accounts/login" class="cmdIcon fa fa-times" title="Annuler"></a>
            </div>
            break;
        case "editprofil":
            <div class="actionTitle">@ViewBag.Title </div>
            <div class="menu-icon-layout">
                <i class="cmdIcon submitCmd fa fa-check" title="Soumettre"></i>
                <i onclick="history.back()" class="cmdIcon fa fa-times" title="Fermer"></i>
            </div>
            break;
        case "manageusers":
            <div class="actionTitle">@ViewBag.Title </div>
            <div class="menu-icon-layout">
                <i onclick="history.back()" class="cmdIcon fa fa-times" title="Fermer"></i>
            </div>
            break;
        case "renewpasswordcommand":
            <div class="actionTitle">
                @ViewBag.Title
            </div>
            <div class="menu-icon-layout">
                <a href="/Accounts/RenewPasswordCancelled" class="cmdIcon fa fa-times" title="Annuler"></a>
            </div>
            break;
        case "renewpassword":
            <div class="actionTitle">@ViewBag.Title </div>
            <div class="menu-icon-layout">
                <a href="/Accounts/RenewPasswordCancelled" class="cmdIcon fa fa-times" title="Annuler"></a>
            </div>
            break;
        case "loginsjournal":
            <div class="actionTitle">@ViewBag.Title </div>
            <div class="menu-icon-layout">
                <i onclick="history.back()" class="cmdIcon fa fa-times" title="Fermer"></i>
            </div>
            break;
    }
</div>

